# Pandas - Python Library

In [4]:
# Installing libraries
# pip3 install pandas
# pip3 install numpy

- ### Importing libraries

In [5]:
import pandas as pd
import numpy as np

In [10]:
# Objects creation
s = pd.Series([1, 3, np.nan ,5, 7, 8, 9]) # Series -> Column
s

0    1.0
1    3.0
2    NaN
3    5.0
4    7.0
5    8.0
6    9.0
dtype: float64

In [12]:
dates = pd.date_range('20230101', periods=6)
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2023-01-01 -0.406627  1.665259 -0.961780  0.280916
2023-01-02  0.453243 -1.481142 -0.122556 -1.042012
2023-01-03 -0.068334  2.019988  0.730357 -0.560664
2023-01-04 -0.266073  2.168168 -0.283102 -0.315651
2023-01-05 -0.135540 -0.527308  0.030613  0.938041
2023-01-06  0.588829  2.275631 -0.621701 -0.259658

In [21]:
# Creating Dataframe using Dictionary
df2 = pd.DataFrame(
    {
        'A': 1.0,
        'B': pd.Timestamp('20230723'),
        'C': pd.Series(1, index=list(range(4)), dtype=float),
        'D': np.array([3] * 4, dtype="int32"),
        'E': pd.Categorical(['girl', 'woman', 'girl', 'woman']),
        'F': 'female', 
    }
)
df2

     A          B    C  D      E       F
0  1.0 2023-07-23  1.0  3   girl  female
1  1.0 2023-07-23  1.0  3  woman  female
2  1.0 2023-07-23  1.0  3   girl  female
3  1.0 2023-07-23  1.0  3  woman  female

In [20]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float64
D             int32
E          category
F            object
dtype: object